<hr>
<div class="container-fluid mt-3 bg-success">
  <footer>
    <nav>

      <ul class="text-white edit-link">
        <h4 id="h2">Navegue no site</h4>
        <li><a class="links" routerLink="/entrar">Home</a></li>
        <li><a class="links"routerLink="/quem somos">Quem somos</a></li>
        <!-- <li><a class="links" href="">Meu Perfil</a></li> -->
      </ul>
    </nav>

    <div class="row">
      <div class="col-md-12">
      <p class="text-center bg-dark text-white" > Copyright © 2021 </p>
    </div>
  </div>

  </footer>
</div>
