<nav class="navbar navbar-expand-lg navbar-light bg-white" id="menu">
  <div class="container-fluid">
      <div class="fotoMenu">
          <a routerLink="/quemsomos"><img src="../../assets/img/logo-ola-mundo.png" alt="" width="150px" height="60px"></a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">

          <ul class="navbar-nav ml-auto d-flex align-items-center ">
            <li class="nav-item pl-3">
              <a href="">
              <button type="button" class="btn btn-outline-dark">Sair <i class="fa fa-sign-out" aria-hidden="true"></i></button>
            </a>
            </li>
          </ul>
      </div>
  </div>
</nav>
