<div class="container bg-white d-flex justify-content-flex-start mt-5 ">
  <div class="row">
    <div class="col-md-6">
      <div class="col-md-12 ">
        <h3>Quem Somos</h3>
        <P> São Paulo é a o maior centro financeiro do país, e dispõe de uma vasta quantia de equipamentos culturais e
          atividades de lazer. São 280 salas de cinema, 180 teatros, 110 museus e mais de 90 centros culturais, alguns
          atendendo a parcela de maior poder aquisitivo, outros contemplando mais o público popular, o que leva muitos a
          dizerem que "sempre há um programa para se fazer em São Paulo". A vida noturna da cidade também é referência e
          um de seus pontos altos. Isso sem falar nas compras, com mais de 45 shoppings e dezenas de ruas de comércio
          especializado. E na gastronomia, são mais de 12 mil restaurantes, com 52 tipos de cozinha, como por exemplo:
          comidas japonesas, indianas, típicas brasileiras, mexicana e afins.Tendo em vista esses dados, criamos essa
          rede social informativa e colaborativa onde nosso intuito é dar visibilidade para o turismo sustentável e
          incentivo ao turismo local, com lugares já em destaque mas com o apelo para a colaboraçãodos usuários, onde
          poderiam colocar sugestões de lugares interessantes para conhecer, divulgar pequenos comercios e serviços, e
          ainda avaliar os pontos turisticos propostos. O objetivo é a troca de experiencias. Vem
          conhecer a verdadeira São Paulo, e diga OLÁ MUNDO!!!
        </P>
      </div>
    </div>


    <div class="col-md-6 " >
      <img class="img" src="../../assets/img/logo-ola-mundo.png" alt="">
    </div>

  </div>
</div>

<!-- colaboradores -->
<div class="container conteudos">

  <div class="colaborador">
    <div class="card img-colaboradores" style="width: 18rem;">
      <img src="../../assets/img/stonks.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4>Rafael</h4>

        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card'
          content.

          <a href="https://www.linkedin.com/" target="_blank"><img class=tm-social
              src="../../assets/img/linkedin (1).png" alt="logo do Linkedin" width="20px"></a>
          <a href="https://github.com/" target="_blank"><img class=tm-social src="../../assets/img/github (1).png"
              alt="logo do Github" width="20px"></a></p>

      </div>
    </div>
  </div>

  <div class="colaborador">
    <div class="card img-colaboradores" style="width: 18rem;">
      <img src="../../assets/img/meme-da-garota-do-desastre.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4>Gab's</h4>

        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content. <a href="https://www.linkedin.com/" target="_blank"><img class=tm-social
              src="../../assets/img/linkedin (1).png" alt="logo do Linkedin" width="20px"></a>
          <a href="https://github.com/" target="_blank"><img class=tm-social src="../../assets/img/github (1).png"
              alt="logo do Github" width="20px"></a></p>
      </div>
    </div>
  </div>

  <div class="colaborador">
    <div class="card img-colaboradores" style="width: 18rem;">
      <img src="../../assets/img/kardashianchorando.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4>Pamella</h4>

        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content. <a href="https://www.linkedin.com/" target="_blank"><img class=tm-social
              src="../../assets/img/linkedin (1).png" alt="logo do Linkedin" width="20px"></a>
          <a href="https://github.com/" target="_blank"><img class=tm-social src="../../assets/img/github (1).png"
              alt="logo do Github" width="20px"></a></p>
      </div>
    </div>
  </div>

  <div class="colaborador">
    <div class="card img-colaboradores" style="width: 18rem;">
      <img src="../../assets/img/meme-caruso.jpg" class="card-img-top img-colaboradores" alt="...">
      <div class="card-body">
        <h4>Caruso</h4>

        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.
          <a href="https://www.linkedin.com/" target="_blank"><img class=tm-social
              src="../../assets/img/linkedin (1).png" alt="logo do Linkedin" width="20px"></a>
          <a href="https://github.com/" target="_blank"><img class=tm-social src="../../assets/img/github (1).png"
              alt="logo do Github" width="20px"></a></p>
      </div>
    </div>
  </div>
